doctype html
html 
    head
        title='Forms'
    body
        form(action='/', method='POST')
            div
                label(for='userName') Username:
                input(name='userName')
            br
            div
                label(for='password') Password:
                input(name='password' type='password')
            br
            button(type='submit') Submit