doctype html
html 
    head
        title='Forms'
    body
        form(action='/', method='POST')
            div
                label(for='userName') Name:
                input(name='userName')
            br
            button(type='submit') Submit